Pandas Assignment – Data Cleaning & Analysis
1. Dataset Details

Dataset Name: Walmart Store Features Dataset
Domain : Retail
Source Link: https://www.kaggle.com/datasets/manjeetsingh/retaildataset

Dataset Size:

Rows: 8,190

Columns: 12

2. What does one row represent?

Each row represents the weekly record of a particular Walmart store, including:
Date of the week
Weather condition (temperature)
Fuel price
Promotional markdowns
Economic indicators (CPI, unemployment)
Whether the week was a holiday

3. Explanation of 6 Columns
Store: Unique store number
Date: Week for which data is recorded
Temperature: Average temperature of that week
Fuel_Price: Fuel price in the region
MarkDown1: Promotional discount amount type 1
CPI: Consumer Price Index for the region

4. Expected Data Issues

Missing values in markdown columns (MarkDown1–5, CPI, Unemployment)
Incorrect data types (Date stored as text instead of datetime)

In [37]:
#Import Libraries
import pandas as pd
import numpy as np

In [36]:
#Load Dataset
df = pd.read_csv(r"C:\Users\user\Downloads\Features data set.csv")
df

,Store,Date,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment,IsHoliday,Total_Markdown,High_Discount,Year
0,1,2010-05-02,42.31,2.572,4743.58,364.57,36.26,1176.425,2727.135,211.096358,8.106,False,9047.97,No,2010.0
1,1,2010-12-02,38.51,2.548,4743.58,364.57,36.26,1176.425,2727.135,211.242170,8.106,True,9047.97,No,2010.0
2,1,NaN,39.93,2.514,4743.58,364.57,36.26,1176.425,2727.135,211.289143,8.106,False,9047.97,No,NaN
3,1,NaN,46.63,2.561,4743.58,364.57,36.26,1176.425,2727.135,211.319643,8.106,False,9047.97,No,NaN
4,1,2010-05-03,46.50,2.625,4743.58,364.57,36.26,1176.425,2727.135,211.350143,8.106,False,9047.97,No,2010.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8185,45,NaN,76.05,3.639,4842.29,975.03,3.00,2449.970,3169.690,182.764003,7.806,False,11439.98,Yes,NaN
8186,45,2013-05-07,77.50,3.614,9090.48,2268.58,582.74,5797.470,1514.930,182.764003,7.806,False,19254.20,Yes,2013.0
8187,45,2013-12-07,79.37,3.614,3789.94,1827.31,85.72,744.840,2150.360,182.764003,7.806,False,8598.17,No,2013.0
8188,45,NaN,82.84,3.737,2961.49,1047.07,204.19,363.000,1059.460,182.764003,7.806,False,5635.21,No,NaN
8189,45,NaN,76.06,3.804,212.02,851.73,2.06,10.880,1864.570,182.764003,7.806,False,2941.26,No,NaN

In [35]:
#Basic Pandas Workflow
#Shape of dataset
print("Shape of dataset:", df.shape)

Shape of dataset: (8190, 12)

In [34]:
print("\nFirst 5 rows:")   #First 5 rows
print(df.head())

First 5 rows:
   Store        Date  Temperature  Fuel_Price  MarkDown1  MarkDown2  \
0      1  05/02/2010        42.31       2.572        NaN        NaN
1      1  12/02/2010        38.51       2.548        NaN        NaN
2      1  19/02/2010        39.93       2.514        NaN        NaN
3      1  26/02/2010        46.63       2.561        NaN        NaN
4      1  05/03/2010        46.50       2.625        NaN        NaN

   MarkDown3  MarkDown4  MarkDown5         CPI  Unemployment  IsHoliday
0        NaN        NaN        NaN  211.096358         8.106      False
1        NaN        NaN        NaN  211.242170         8.106       True
2        NaN        NaN        NaN  211.289143         8.106      False
3        NaN        NaN        NaN  211.319643         8.106      False
4        NaN        NaN        NaN  211.350143         8.106      False

In [33]:
print("\nDataset Info:") #Dataset information
df.info()

Dataset Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8190 entries, 0 to 8189
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Store         8190 non-null   int64
 1   Date          8190 non-null   object
 2   Temperature   8190 non-null   float64
 3   Fuel_Price    8190 non-null   float64
 4   MarkDown1     4032 non-null   float64
 5   MarkDown2     2921 non-null   float64
 6   MarkDown3     3613 non-null   float64
 7   MarkDown4     3464 non-null   float64
 8   MarkDown5     4050 non-null   float64
 9   CPI           7605 non-null   float64
 10  Unemployment  7605 non-null   float64
 11  IsHoliday     8190 non-null   bool
dtypes: bool(1), float64(9), int64(1), object(1)
memory usage: 712.0+ KB

In [32]:
print("\nMissing values in each column:") #Missing values check
print(df.isna().sum())

Missing values in each column:
Store              0
Date               0
Temperature        0
Fuel_Price         0
MarkDown1       4158
MarkDown2       5269
MarkDown3       4577
MarkDown4       4726
MarkDown5       4140
CPI              585
Unemployment     585
IsHoliday          0
dtype: int64

In [31]:
print("\nNumber of duplicate rows:") #Duplicate check
print(df.duplicated().sum())

Number of duplicate rows:
0

In [30]:
#Data Cleaning (6 Actions)  
df_clean = df.copy()

In [13]:
df_clean.columns = df_clean.columns.str.strip() #Action 1: Clean column names

In [14]:
#Action 2: Fix Date datatype (object → datetime)
df_clean["Date"] = pd.to_datetime(df_clean["Date"], errors="coerce")

In [28]:
#Action 3: Fill numeric missing values using median
num_cols = df_clean.select_dtypes(include="number").columns

for col in num_cols:
    df_clean["MarkDown2"] = df_clean["MarkDown2"].fillna(df_clean["MarkDown2"].median())

In [16]:
#Action 4: Fill categorical/text missing values using mode

text_cols = df_clean.select_dtypes(include="object").columns

for col in text_cols:
    if df_clean[col].isna().sum() > 0:
        df_clean[col] = df_clean[col].fillna(df_clean[col].mode()[0])

In [17]:
#Action 5: Text cleaning using str.strip() + casing
for col in text_cols:
    df_clean[col] = df_clean[col].astype(str).str.strip().str.title()

In [18]:
#Action 6: Remove duplicates
df_clean = df_clean.drop_duplicates()

In [19]:
#Create 3 New Columns
#Total markdown column

df_clean["Total_Markdown"] = df_clean[
    ["MarkDown1", "MarkDown2", "MarkDown3", "MarkDown4", "MarkDown5"]
].sum(axis=1)

In [21]:
#Conditional column – High Discount
median_markdown = df_clean["Total_Markdown"].median()

df_clean["High_Discount"] = df_clean["Total_Markdown"].apply(
    lambda x: "Yes" if x > median_markdown else "No"
)

In [22]:
#Extract Year from Date
df_clean["Year"] = df_clean["Date"].dt.year

In [23]:
#Data Analysis – 5 Required Insights
#groupby + aggregation

groupby_result = df_clean.groupby("Store")["Fuel_Price"].agg(["mean", "sum", "count"])
print("\nGroupby + Aggregation result:")
print(groupby_result.head())

Groupby + Aggregation result:
           mean      sum  count
Store
1      3.259242  593.182    182
2      3.259242  593.182    182
3      3.259242  593.182    182
4      3.254885  592.389    182
5      3.259242  593.182    182

In [24]:
#sort_values
sorted_result = df_clean.sort_values(by="Fuel_Price", ascending=False)
print("\nTop rows by Fuel Price:")
print(sorted_result.head())

Top rows by Fuel Price:
      Store       Date  Temperature  Fuel_Price  MarkDown1  MarkDown2  \
2142     12 2012-12-10        71.74       4.468    1986.92     364.57
7602     42 2012-12-10        76.03       4.468      49.38     364.57
5964     33 2012-12-10        79.64       4.468      33.23     364.57
6874     38 2012-12-10        71.74       4.468     202.43     364.57
5054     28 2012-12-10        71.74       4.468    1546.44     364.57

      MarkDown3  MarkDown4  MarkDown5         CPI  Unemployment  IsHoliday  \
2142      16.75    910.500    4225.20  131.108333        10.199      False
7602      10.87   1176.425     970.72  131.108333         6.943      False
5964      36.26   1176.425     590.43  131.108333         6.895      False
6874       8.66      0.220     700.92  131.108333        10.199      False
5054      13.36   1057.730    6560.97  131.108333        10.199      False

      Total_Markdown High_Discount    Year
2142        7503.940            No  2012.0
7602        2571.965            No  2012.0
5964        2200.915            No  2012.0
6874        1276.800            No  2012.0
5054        9543.070           Yes  2012.0

In [25]:
#value_counts
store_counts = df_clean["Store"].value_counts()
print("\nStore frequency:")
print(store_counts.head())

Store frequency:
Store
1    182
2    182
3    182
4    182
5    182
Name: count, dtype: int64

In [26]:
#Pivot Table
pivot_result = pd.pivot_table(
    df_clean,
    values="Fuel_Price",
    index="Store",
    columns="Year",
    aggfunc="mean"
)

print("\nPivot Table (Fuel Price by Store & Year):")
print(pivot_result.head())

Pivot Table (Fuel Price by Store & Year):
Year    2010.0    2011.0    2012.0    2013.0
Store
1      2.66965  3.418190  3.499474  3.429615
2      2.66965  3.418190  3.499474  3.429615
3      2.66965  3.418190  3.499474  3.429615
4      2.68205  3.412619  3.492526  3.411385
5      2.66965  3.418190  3.499474  3.429615

In [27]:
#Boolean Filtering
high_discount_weeks = df_clean[df_clean["High_Discount"] == "Yes"]

print("\nHigh Discount Weeks:")
print(high_discount_weeks.head())

High Discount Weeks:
    Store       Date  Temperature  Fuel_Price  MarkDown1  MarkDown2  \
92      1 2011-11-11        59.11       3.297   10382.90    6115.67
93      1        NaT        62.25       3.308    6074.12     254.39
94      1        NaT        60.14       3.236     410.31      98.00
95      1 2011-02-12        48.91       3.172    5629.51      68.00
96      1 2011-09-12        43.93       3.158    4640.65      19.00

    MarkDown3  MarkDown4  MarkDown5         CPI  Unemployment  IsHoliday  \
92     215.07    2406.62    6551.42  217.998085         7.866      False
93      51.98     427.39    5988.57  218.220509         7.866      False
94   55805.51       8.00     554.92  218.467621         7.866       True
95    1398.11    2084.64   20475.32  218.714733         7.866      False
96     105.02    3639.42   14461.82  218.961846         7.866      False

    Total_Markdown High_Discount    Year
92        25671.68           Yes  2011.0
93        12796.45           Yes     NaN
94        56876.74           Yes     NaN
95        29655.58           Yes  2011.0
96        22865.91           Yes  2011.0

In [29]:
#Save Cleaned Dataset
df_clean.to_csv(r"C:\Users\user\Downloads\Features data set.csv", index=False)
print("Cleaned dataset saved successfully.")

Cleaned dataset saved successfully.